= form_with(model: [question.quiz, question]) do |form|
  ul
    - question.errors.full_messages.each do |error|
      li style="color: rgba(0, 204, 255)"
        = error

  .form-fields
    = form.label :question_type, 'Select Question Type:'
    = form.select :question_type, options_for_select(['Single Answer', 'Multiple Choice']), class: 'form-style', id: 'question_type_select'

  .form-fields
    = form.label :content
    = form.text_field :content, class: 'form-style'

  .form-fields.single-answer
    = form.label :answer
    = form.text_area :answer, class: 'form-style'

  .form-fields.multiple-choice style="display: none;"
    = form.fields_for :answers do |answer_form|
      fieldset.choice-fields
        div
          = answer_form.label :choice
          = answer_form.text_field :choice, class: 'form-style'

        div
          = answer_form.label :correct
          = answer_form.check_box :correct

    .add-choice-container
      = link_to "Add Choice", "#", class: "add-choice-button"

  - if current_user && (current_user.id == @quiz.user_id || current_user.is_admin)
    = form.submit 'Create Question', class: 'custom-button'