footer(style="margin-top: 5em; text-align: center;")
  hr(style="border: none; height: 1px; background-color: #333; width: 100%; margin: 0 auto; margin-bottom: 20px;")
  p
    | © 2023 Group4 Quizzes. All Rights Reserved.
