body {
background-color: #1d1d1d;
color: rgb(255, 0, 170, 0.918);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: 'Roboto Slab', serif;
}

h1 {
margin-bottom: 50px;
}

ul {
text-align: left;
list-style-type: decimal;
}

li {
margin: 10px 0;
}

li a {
text-decoration: none;
color: inherit;
}

li a:visited {
color: inherit;
}

.content-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 60px;
font-size: 24px;
border: 1px solid rgb(255, 0, 170, 0.918);
background-color: #222222;
box-shadow: 0px 0px 10px rgba(0, 204, 255);
border-radius: 20px;
margin: 20px;
}

.custom-button {
height: 50px;
width: 200px;
padding: 10px 10px;
font-size: 20px;
background-color: rgb(2, 162, 202);
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
margin: 10px 0;
}

.custom-button:hover {
background-color: rgb(255, 0, 170, 0.918);
}

.custom-file-button {
background-color: rgb(2, 162, 202);
color: #fff;
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.custom-file-button:hover {
background-color: rgb(255, 0, 170, 0.918);
}

.custom-checkbox {
display: none;
}

.custom-checkbox-label {
cursor: pointer;
font-size: 16px;
margin-top: 15px;
display: flex;
align-items: center;
justify-content: center;
}

.custom-checkbox-label::before {
content: "";
width: 10px;
height: 10px;
margin-right: 10px;
border: 2px solid rgba(0, 204, 255);
background-color: transparent;
}

.custom-checkbox:checked + .custom-checkbox-label::before {
background-color: rgba(0, 204, 255);
border-color: rgb(255, 0, 170, 0.918);
}

.form-style {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 10px;
margin-bottom: 20px;
padding: 10px;
color: rgba(0, 204, 255);
border-radius: 5px;
border: 1px solid rgba(0, 204, 255);
font-size: 16px;
background-color: #222222;
width: 400px;
box-sizing: border-box;
resize: vertical;
font-family: 'Roboto Slab', serif;
}

:root {
--code:rgb(255, 0, 170, 0.918);
}

.alert {
border: 1px solid var(--code);
color: rgba(0, 204, 255);
box-shadow: 0px 0px 10px rgba(0, 204, 255);
border-radius: 10px;
padding: 10px;
}